.layoutHeader {
  padding: 10px 15px;
  background-color: rgb(50, 50, 170);
}

.layoutLink {
  text-decoration: none;
  color: rgb(210, 210, 210);
  padding: 5px 10px;
  font-size: 25px;
  font-weight: 600;
}
.layoutLink:not(:last-child) {
  margin-right: 15px;
}

.layoutLink:hover,
.layoutLink:focus {
  color: rgb(255, 255, 255);
}
